<div class="panel panel-default">
  <div class="panel-head">
    <h3><a routerLink="for-sale">For Sale</a></h3>
  </div>
  <div class="panel-body">
    <p>
      For Sale listings go here.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-head">
    <h3><a routerLink="jobs">Jobs</a></h3>
  </div>
  <div class="panel-body">
    <p>
      Jobs listings go here.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-head">
    <h3><a routerLink="housing">Housing</a></h3>
  </div>
  <div class="panel-body">
    <p>
      Housing listings go here.
    </p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-head">
    <h3><a routerLink="personals">Personals</a></h3>
  </div>
  <div class="panel-body">
    <p>
      Personals listings go here.
    </p>
  </div>
</div>
