<div class="panel panel-default">
  <div class="panel-head">
    <h3><a routerLink="for-sale">For Sale</a></h3>
  </div>
  <div class="panel-body">
    <div *ngFor="let listing of forSale" (click)="goToDetailPage(listing)">
      <p>{{listing.title}} - {{listing.price}} - ({{listing.location}})</p>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-head">
    <h3><a routerLink="jobs">Jobs</a></h3>
  </div>
  <div class="panel-body">
    <div *ngFor="let listing of jobs" (click)="goToDetailPage(listing)">
      <p>{{listing.title}} - {{listing.price}} - ({{listing.location}})</p>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-head">
    <h3><a routerLink="housing">Housing</a></h3>
  </div>
  <div class="panel-body">
    <div *ngFor="let listing of housing" (click)="goToDetailPage(listing)">
      <p>{{listing.title}} - {{listing.price}} - ({{listing.location}})</p>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-head">
    <h3><a routerLink="personals">Personals</a></h3>
  </div>
  <div class="panel-body">
    <div *ngFor="let listing of personals" (click)="goToDetailPage(listing)">
      <p>{{listing.title}} - {{listing.price}} - ({{listing.location}})</p>
    </div>
  </div>
</div>
